SteeringBehavioursCore/bin/
SteeringBehavioursCore/obj/
AICore/bin/
AICore/obj/
FlockingBoidsDemo/bin/
FlockingBoidsDemo/obj/
FlockingBoidsDemoWithGL/bin/
FlockingBoidsDemoWithGL/obj/
ArriveBoids/bin/
ArriveBoids/obj/
PathFollowingBoids/bin/
PathFollowingBoids/obj/
WanderingBoids/bin/
WanderingBoids/obj/
AvoidObstacleBoids/bin/
AvoidObstacleBoids/obj/
HiddenBoids/bin/
HiddenBoids/obj/
KeySteeringBoids/bin/
KeySteeringBoids/obj/
PredatorBoids/bin/
PredatorBoids/obj/
packages/
*.lock
*.ide
